@import url('../../../main/styles/colors.css');

.cadastros-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.cadastros-widget {
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  font-size: 24px;
  height: 150px;
  width: 24%;
  margin-bottom: 15px;
}

@media (max-width: 768px) {
  .cadastros-content {
    display: grid;
    grid-template-columns: repeat(2, 45%);
  }

  .cadastros-widget {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .cadastros-content {
    grid-template-columns: 90%;
  }
}