@import "../../../main/styles/colors.scss";

.vbuttonLight,
.vbuttonDark {
  width: 100%;
  height: 45px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 8px;
  margin: 5px;
  cursor: pointer;
  transition: 400ms;
}


.vbuttonLight {
  background-color: $primary;
  color: $white;
}

.vbuttonDark {
  background-color: $secondary;
  color: $primary;
}


.vbuttonLight:hover {
  background-color: $primaryDark;
}

.vbuttonDark:hover {
  color: $white;
}

