@import url("../../../main/styles/colors.css");


.login-container {
  background: var(--secondary-color);
  justify-content: center;
  align-items: center;
}

.login-card {
  width: 60%;
  height: 50%;
  background-color: var(--primary-color);
  justify-content: center;
  align-items: center;
}