@import url('../../../main/styles/colors.css');

.page-title {
  background: var(--secondary-color);
  color: white;
}

.crud-bar {
  background: #000000;
  height: 64px;
  display: flex;
  align-items: center;
}
